header {
    background-color: black;

    nav {
        .navbar-brand {
            img {
                width: 116px;
                height: 32px;
            }
        }

        form {
            img {
                height: 31px;
                width: 31px;
            }

            .picture {
                font-size: 25px;
                color: white;
                margin-right: 10px;
            }

            .new {
                color: white;
                margin-left: 10px;
            }
        }
    }
}

section {
    .col {
        color: black;

        
            img {
                position: relative;
                width: 100%;
                height: 392px;
                top: -50px;
                left: -80px;
            }

        button {
            width: 150px;
            height: 50px;
            background: #F8B653;
            border: 0px;
        }
    }

    .box-right {
        position: relative;
        bottom: -40px;
    }

}